<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start" (click)="clearall()">CLEAR ALL</ion-buttons>
    <ion-title>Filter</ion-title>
    <ion-buttons slot="end" (click)="done()">SAVE</ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-note>Max 20 Outlet</ion-note>
  <ion-row>
      <p *ngFor="let store of storeList;let i = index" [hidden]="store.status == false" >
        <ion-chip (click)="remove(i)" style="background:#bf2025">
          <ion-label style="color:white">{{store.name}}</ion-label>
          <ion-icon style="color:white" name="close-circle"></ion-icon>
        </ion-chip>
      </p>
  </ion-row>
  <ion-list>
    <ion-list-header>All Store</ion-list-header>
    <div *ngFor="let store of storeList;let i = index">
    <ion-card (click)="add(i)" class="ion-no-margin" style="margin:5px" *ngIf="store.status == false">
      <ion-item>
        <ion-label>
            {{store.name}}
        </ion-label>
        <ion-icon name="add-outline"></ion-icon>
      </ion-item>
    </ion-card>
  </div>
  </ion-list>
</ion-content>
